@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(../estilos/settings.css);
@import url(../estilos/ayudas.css);
@import url(../estilos/header.css);
@import url(../estilos/inicio.css);
@import url(../estilos/servicios.css);
@import url(../estilos/galeria.css);
@import url(../estilos/contacto.css);
@import url(../estilos/media_query.css);

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --main-color: #f6e232;
    --second-color: #2a2929;
    --white-color:#f2f2f2;
    --font-size: 18px;
    --max-width: 1400px;
    --nav-height: 70px;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--second-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.textos,    
.titulo{
    color: var(--white-color);
    line-height: 25px;
}
.center{
    text-align: center;
}
.titulo{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.textos{
    font-size: 1rem;
    margin-bottom:50px ;
}
.button{
    
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 10px;
    transition: all 500ms;
}

.button--negro{
    background-color: var(--second-color);
    color: var(--white-color);
}

.button:hover{
    padding: 17px;
    font-weight: bolder;
    
}

.vh-100{
    height:calc(100vh + 75px);
} 
.nav__figure{

}
.logo{

}
.nav__toggle{

}

.nav__input{

}
.nav__list{

}
.nav__item{

}

.links{

}

