/*------------------ENCABEZADO-----------------------*/

#header{
    width: 100%;
    background: var(--main-color);
    height: var(--nav-height);
    position: sticky;
    top: 0;
}
.contenedor-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    --icon-toggle-menu: url(../icons/menu.svg);
}
.enlaces{
    padding: 20px;
}

.contenedor-nav:has(.nav__input:checked) {
    --transform-menu-show: translate(0);
    --icon-toggle-menu: url(../icons/cerrar.svg);
  }
.logo{
    margin-left: 50px;
}

.nav__toggle{
    height: 30px;
    width: 30px;
    background-image: var(--icon-toggle-menu);
    cursor: pointer;
}

.menu{
cursor:pointer;
/* display: none; */
}


.nav__input{
    display: none;
}

.nav__list{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-right: 50px;
    transition: all 0.5s;
    top: var(--nav-heigt);
    transform: var(--transform-menu-show);
}

.links{
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: var(--second-color);
    font-weight: bold;
    margin-top: 5px;
}





  @media (width < 800px) {
    .contenedor-nav{
        height: var(--nav-height);
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .nav__toggle{
        margin-right: 50px;
    }
    .enlaces{
        width: 100%;
    }
    
    
    .nav__list{
    width: 100%;
    background: var(--white-color);
    opacity: 0.9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    height: 0;
    overflow: hidden;
    
    
}

.nav__input:checked + .nav__list{

        height: calc(100vh - var(--nav-height)); 

        
}

.contenedor-nav:has(.nav__input:checked) {
    --transform-menu-show: translate(0);

  }
}

@media (width >= 800px){

    .nav__toggle {
        display: none;
    }

}