/*------------------ENCABEZADO-----------------------*/

#header{
    width: 100%;
    background: var(--main-color);
    height: var(--nav-height);
    position: sticky;
    top: 0;
}
.contenedor-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
}
.enlaces{
    padding: 20px;
}

.contenedor-nav:has(.nav__input:checked) {
    --transform-menu-show: translate(0);
    --icon-toggle-menu: url(../assets/icons/cerrar.svg);
  }
.logo{
    margin-left: 50px;
}
.nav__figure{
    
}


.menu{
cursor:pointer;
display: none;
}
.nav__toggle{
}

.nav__input{
    display: none;
}

.nav__list{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-right: 50px;
    transition: all 0.5s;
    top: var(--nav-heigt);
}

.links{
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: var(--second-color);
    font-weight: bold;
    margin-top: 5px;
}

.nav__item{

}



  @media (width < 800px) {
   .nav__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
  }
}