@media (max-width: 800px){
    /**---------header-------**/

    /**---------inicio-------**/
    .titulo{
        text-align: center;
    }
    .contenedor{
        flex-direction: column;
        margin: 0 50px;
        padding-top: var(--padding-top);
    }
    .cont-inicio{
        padding-top: 130px;
        margin-top: -40px;
        justify-content: center;
        
    }
    .parrafo-inicio {
        text-align: center;
    }

    
    .img1,.img2{
        height: 300px;
    }
    /**---------nosotros-------**/
    .cont-nosotros{
        height:auto;
      
    }
    .img2{
        order: 2;
    }
    .par-nosotros{
        order: 1;
    }
    /**---------servicios-------**/
    .cont-servicios{
       height:auto;
    }
    #servicios .parrafo{
        text-align: left;
    }
    .cards{
        flex-direction: column;
        gap: 10px;
       justify-content: center;
    }
    .button--negro{
        padding: 5px;
    }
    .button--serv{
        padding: 5px;
    }
    /**---------galeria-------**/
    .galeria{
        height: auto;
        margin: 10px 0;
        width: 100%;   
        flex-direction:row;
        margin-bottom: 50px;
        justify-content: center;
    }
    #galeria .img{
        height: auto;
        width: 48%;
        align-items: center;
    }
        
    /**---------contacto-------**/
    .cont-contacto{
        height: auto;
    }
    #contacto .titulo{
        padding: 0;
    }
    #contacto .form{
        width: 100%;
    }
    .button-form{
        font-family: "Montserrat", sans-serif;
    }
    .input:focus{
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }   

}